*.pyc
*.h5
*.pickle
*.png
*.jpg
*build*
*.o
*.pyc
*.DS_Store
__pycache__/*
*.obj
*.ply
*.ini
sftp-config.json
*.out
AdelaiDepth/LeReS/Train/log*
AdelaiDepth/LeReS/Train/dump*
AdelaiDepth/LeReS/Train/output*
AdelaiDepth/LeReS/torchsparse*
*.pth
*__pycache__*
bin*
ngp_pl/apex*
ngp_pl/models/csrc*
ngp_pl/tiny-cuda-nn*
ngp_pl/results*
ngp_pl/logs*
ngp_pl/ckpt*
ngp_pl/slurm_output*
AdelaiDepth/LeReS/Train/slurm_output*
AdelaiDepth/LeReS/Train/slurm_output*
AdelaiDepth/LeReS/slurm_output*
AdelaiDepth/LeReS/Minist_Test/dump*
*slurm_*
jax-resnet/*
imle_code/*
dense_depth_priors_nerf/slurm_output*
dense_depth_priors_nerf/runs/*
dense_depth_priors_nerf/log*
dense_depth_priors_nerf/depth_priors_network_weights/*
piecewise_linear/slurm_output*
piecewise_linear/runs/*
piecewise_linear/log*   
piecewise_linear/depth_priors_network_weights/*
piecewise_linear/nerf-pytorch/log*
piecewise_linear/mipnerf-pytorch/log*
dynibar/Nvidia_long/*
dynibar/checkpoints/*
dynibar/nvidia_checkpoints.zip

